p {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.iconList {
  width: min(45rem, 90%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}

.iconList li {
  max-width: 12rem;
  justify-self: center;
  display: grid;
  grid-template:
    "icon"
    "line"
    "dot"
    "title"
    "descr" 1fr;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
}
.color {
  --accent-color: #151515;
}

.color2 {
  --accent-color: #151515;
}

.color3 {
  --accent-color: #151515;
}

.color4 {
  --accent-color: #151515;
}

.active {
  --accent-color: #e91e63;
}
.iconList li .icon {
  grid-area: icon;
  width: 5rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2.5rem;
  border: 0.4rem solid var(--bgColor);
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
    inset -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);

  cursor: pointer;
}

.iconList li::before {
  content: "";
  grid-area: line;
  height: 2rem;
  border-right: 2px dotted currentColor;
}

.iconList li::after {
  content: "";
  grid-area: dot;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color);
  justify-self: center;
  margin-bottom: 0.5rem;
}

.iconList li .title {
  grid-area: title;
  margin-block: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
