.container {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
}

.imgCard {
  width: 20%;
  /* margin: auto 0; */
  text-align: center;
}
.imgCard img {
  display: block;
  width: 100%;
}

.imgCard .bookTitle {
  margin: 0 0 25px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 25px;
}
.imgCard .bookDetails {
  padding: 30px 30px 24px;
  border: 1px solid #ccc;
  border-top: 0;
}

.contentCard {
  width: 70%;
  margin: 0 0 0 3rem;
}

.title {
  text-align: center;
  margin-top: 1.5rem;
}

.bookPublishedDate {
  text-align: left;
  padding-left: 1rem;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: underline;
}
.description {
  line-height: 2rem;
  text-align: justify;
  padding: 0 1rem;
}

.imgCard .previous {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 4rem;

  font-size: 1.5rem;
  transition: 0.9s ease;
}

.imgCard .previous:hover {
  background-color: #151515;
  color: white;
}

.previous {
  color: black;
  border: 2px solid #151515;
}

.buttonRow {
  display: flex;

  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.btn {
  margin: 0 2rem;
  flex: 30%;
  display: block;
  color: #151515;
  font-size: 14px;

  text-decoration: none;
  margin: 30px 20px;
  border: 2px solid #151515;
  padding: 14px 60px;
  text-transform: uppercase;
  transition: 0.7s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #151515;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 2rem auto;
  text-align: center;
}

.iconsItem {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #151515;
  margin: 1rem auto;
  transition: 0.5s ease;
}
.iconsItem:hover {
  transform: scale(1.2);
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  margin: 0.7rem auto;

  padding: 5px;
  /* width: 80%; */
  border: 1px solid #151515;
  cursor: pointer;
}
.heart svg {
  height: 100%;
  padding: 0 10px;
  color: #151515;
  margin: auto;
}
.heart p {
  padding: 10px 0;
}

.heart:hover {
  border: 1px solid #e91e63;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.solidHeart {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  margin: 0.7rem auto;

  padding: 5px;
  width: 90%;
  border: 1px solid #e91e63;
  box-shadow: #e91e63 0px 1px 5px 0px;
  cursor: pointer;
}
.solidHeart svg {
  height: 100%;
  padding: 0 10px;
  color: #e91e63;
  margin: auto;
}
.solidHeart p {
  margin: 1rem auto;
}

.heart:hover {
  border: 1px solid #e91e63;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .imgCard {
    margin: 0 auto;
    width: 50%;
  }
  .buttonRow {
    flex-direction: column;
  }
  .bookPublishedDate {
    text-align: center;
  }
  .icons {
    width: 80%;
    gap: 2rem;
  }
}
