/* body {
  background: #00091b;
  color: #fff;
} */

.wrapper {
  position: relative;
  left: 50%;
  top: 50%;
  margin: 14rem auto;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;

  color: #151515;
}

h1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #e91e63;
}

p {
  text-align: center;
  margin: 18px;
  font-family: "Muli", sans-serif;
  font-weight: normal;
}
