.book {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 450px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  transition: height 1s;
}
a {
  text-decoration: none;
}

.cover {
  border: 2px solid #151515;
  height: 70%;
  overflow: hidden;
}

.cover img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}
.cover img:hover {
  transform: scale(1.07);
}

.description {
  width: 90%;
  margin: 0 auto;
  height: 15%;
  overflow-y: hidden;
}

.title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 17px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}

.book .author {
  font-size: 15px;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  margin: 0.7rem auto;

  padding: 5px;
  width: 90%;
  border: 1px solid #151515;
}
.heart svg {
  height: 100%;
  padding: 0 10px;
  color: #151515;
  margin: auto;
}
.heart p {
  margin: 1rem auto;
}

.heart:hover {
  border: 1px solid #e91e63;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.solidHeart {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  margin: 0.7rem auto;

  padding: 5px;
  width: 90%;
  border: 1px solid #e91e63;
  box-shadow: #e91e63 0px 1px 5px 0px;
}
.solidHeart svg {
  height: 100%;
  padding: 0 10px;
  color: #e91e63;
  margin: auto;
}
.solidHeart p {
  margin: 1rem auto;
}

.heart:hover {
  border: 1px solid #e91e63;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }
  .book {
    margin: 49px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 2rem;
  }
  .cover {
  }
}
